{% include 'base.html' %}

{% block content %}
<div class='row mt-5'>
    <div class='col-4'></div>
    <div class='col-4'>
        <div class='error' style='color:red'>{{ error }}</div>
        <div class='success' style='color:green'>{{ success }}</div>

        <form method ='post'>
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter your name to check slots</label>
                <input type="text" class="form-control" id="username" name = "username">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class='col-4'></div>
</div>
{% endblock %}